@import 'font.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT Start */


/* ROOT end */


/* HEADER start */

.header {
    background: url(../img/header__bg.jpg) no-repeat center center /cover;
    /* background-attachment: fixed; */
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-ul {
    display: flex;
    list-style-type: none;
}


.header__nav-li {
    margin-left: 54px;
}

.header__nav-a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'MR';
    text-transform: uppercase;
}

.header__content {
    justify-content: center;
    margin: 200px auto; 
    text-align: center;
    max-width:900px;
    width: 100%;
}

.header__content-title {
    font-family: 'MB';
    font-size: 90px;
    color: white;
    text-transform: uppercase;
}

.header__content-desc {
    color: white;
    font-family: 'MR';
    font-size: 24px;
    width: 750px;
    margin: 45px auto 70px;
}

.header__content-or {
    text-align: center;
    font-family: 'MB';
    color: black;
    font-size: 28px;
    background: #f6d365;
    padding:25px 80px;
    text-decoration: none;
    border-radius: 7px;
}

/* HEADER end */


/* MAIN start */

.main {
    background: #f6d365;
}

.container__main {
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
}

.container__main-headline {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.container__main-title {
    font-family: 'MB';
    font-size: 57px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.container__main-desc {
    color: black;
    font-family: 'MR';
    text-align: center;
    margin: 20px auto;
    font-size: 21px;
    width: 600px;
}

.container__main-content {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;   
}


.container__main-title2 {
    font-family: 'MB';
    font-size: 27px;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
}

.container__main-desc2 {
    margin: auto;
    font-family: 'MR';
    color: black;
    font-size: 18px;
    margin-top: 20px;
    width: 275px;
}

 .container__main-sec {
    text-align: center;
    padding-bottom: 55px;
    max-width: 300px;
    width: 100%;
    margin: auto;
} 

.container__main-2 {
    background: #333333;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

.container__main-content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    max-width: 1200px;
    width: 100%;

}

.container__main-2_title {
    font-family: 'MB';
    font-size: 70px;
    color: white;
    text-transform: uppercase;
}

.container__main-2_desc {
    font-family: 'MR';
    font-size: 21px;
    color: white;
    margin-top: 45px;
    margin-bottom: 60px;
    width: 542px;
}

.container__main-2_A {
    font-family: 'MB';
    font-size: 31px;
    color: black;
    text-decoration: none;
    text-align: center;
    background: #f6d365;
    padding: 20px 80px;
    border-radius: 6px;
    text-transform: uppercase;
}

.container__main-content2 img {
    width: 40%;
}


.container__main-3 {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}


.container__main3-headline {
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 90px;
}

.container__main3-title {
    font-family: 'MB';
    font-size: 60px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.container__main3-desc {
    font-family: 'MR';
    font-size: 21px;
    color: #333333;
    margin: 0 auto;
    width: 600px;
}

.container__main3-content {
    max-width: 1100px;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;

}

.container__main3-sec {
    width: 320px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 9px solid #333333;
    
}

.container__main3-sec span {
    font-family: 'MB';
    font-size: 50px;
}

.container__main3-sec p {
    font-family: 'MB';
    font-size: 30px;
    text-transform: uppercase;
}


.container__main-4 {
    background: #333333;
    height: 300px;
}


/* MAIN end */

/* MEDIA start */

























@media (max-width: 992px) {
    .header__nav-ul {
        display: none;
    }

    .container__main-sec img {
        width: 250px;
    }

    .container__main-content2 {
        display: flex;
        flex-direction: column;
    }

    .container__main-sec2 {
        text-align: center;
        margin: auto;
    }
    
    .container__main-2_A {
        font-size: 15px;
        padding: 15px 50px;
    }
    
    .container__main-2_title {
        margin-top: 30px;
        font-size: 40px;
    }

    .container__main-2_desc {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .container__main3-content {
        border: 3px solid red;
        flex-direction: column;
        align-items: center;
    }

    .container__main3-sec {
        margin-bottom: 40px;

    }
}

@media (max-width: 768px) {

    .header__content-title {
        font-size: 50px;
    }

    .header__content-or {
        padding: 15px 60px;
        font-size: 18px;
    }

    .container__main-sec img {
        width: 200px;
        
    }
    
    .container__main-title {
        font-size: 40px;
    }
    
    .container__main-desc {
        font-size: 17px;
        width: 350px;
    }

    .container__main-title2 {
        font-size: 23px;
    }

    .container__main-desc2 {
        font-size: 14px;
    }

    .container__main3-title {
        font-size: 35px;
    }

    .container__main3-desc {
        font-size: 17px;
        width: 310px;
    }
}

@media (max-width: 576px) {
    
    .container__main-content2 {
        display: flex;
        width: 80%;
    }


.container__main-2_desc {
    font-size: 14px;
    width: 250px;
}

.container__main-2_A {
    font-size: 10px;
    padding: 10px 30px;
}

.container__main-2_title {
    margin-top: 30px;
    font-size: 20px;
}


.container__main-title {
    font-size: 30px;
}

.container__main-desc {
    font-size: 14px;
    width: 280px;
}
}

/* MEDIA end */